@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed:wght@700&display=swap");
/* font-family: "Roboto", sans-serif;
font-family: "Sansita Swashed", cursive; */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

i {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
.select-off {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c4c4c48a;
  height: 100vh;
}

.container {
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.247);
  padding: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 660px;
}

.form-container {
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

input[type] {
  display: block;
  padding: 10px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  margin: 10px auto;
  border-radius: 5px;
}

input[type="submit"] {
  cursor: pointer;
}

.form-title {
  margin-bottom: 20px;
}

.examples-container {
  text-align: left;
  margin-bottom: 50px;
}

#usage-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.examples-container p {
  margin-bottom: 5px;
}

.examples-container:nth-child(2) {
  margin-top: 40px;
}

code {
  background: lemonchiffon;
}
